#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=Eclipse IDE for Eclipse Committers - 2023-06
StartupWMClass=Eclipse
Exec=/home/lucas/eclipse/committers-2023-06/eclipse/eclipse
Categories=Development;IDE;
Icon=/home/lucas/eclipse/committers-2023-06/eclipse/icon.xpm
