/* Definições Gerais - Iníco */
html{
    height: 100%;
}

head, body, ul, li, p{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

img{
    max-width: 100%;
    display: block;
}
/* Definições Gerais - Iníco */


/* CSS Cabeçalho - Início */
.header a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: #727272;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.menu{
    display: flex;
    background: #727272;
    
}

.menu li{
    list-style: none;
    margin-left: 50px;
    background: #727272;
    font-size: 1.3rem;
}

.logoloja{
    width: 100px;
    margin-left: 30px;
}
/* CSS Caixa de Pesquisa*/
.divBusca{
    background-color: white;
    border-radius:25px;
    width:300px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;

  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:20px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:250px;
  }

  #btnBusca {
    width: 40px;
    vertical-align: middle;
}

/* CSS Caixa de Pesquisa - Fim*/

/* CSS Cabeçalho - Fim */


/*CSS Body - Início */

/* CSS Carousel - Início */

.container {
    position: relative;
    padding: 15px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }

  .gallery-wrapper {
    overflow-x: auto;
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }

  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
  }

  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }

  .item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.4    ;
  }

  .current-item {
    opacity: 1;
  }

  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }



/* CSS Carousel - Fim */

/* CSS Painel de Cards - Início */
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    margin-left: 10px;
    width: 850px;
    text-align: center;
    
}


/* CSS Painel de Cards - Fim */

/*CSS Body - Fim */


/* CSS Rodapé - Início */
.footer{
    background-color: #727272;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 47px;
}
/* CSS Rodapé - Fim */