html {
    background-color: #b89371;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #ffd992c1;
    text-align: center;
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
  }
  
  li {
    display: inline-block;
    margin: 0 5%; /* Ajuste a margem horizontal conforme necessário */
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #b89371;
    text-decoration: none;
  }
  
  li:hover a {
    background-color: #b89371;
    color: #ffd992c1;
    border: 2px solid #ffd992c1;
  }
  
  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    border: 2px solid #b89371;
    background-color: #ffd992c1;
    transition: 0.3s;
    height: 50px;
    width: 150px;
  }
  
  .calendario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    float: right;
    margin-right: 110px;
    height: 600px;
    width: 600px;
  }
  
  .conteiner_busca {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 20px;
  }
  
  #inpt_busca.input_busca {
    width: 70%;
    border-radius: 20px;
    border: 0px;
    
  }
  
  

  #img_chat {
    margin-right: 10px;
    width: 3%;
  }
  