/* Definições Gerais - Iníco */
html{
    height: 100%;
}

head, body, ul, li, p{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}


img{
    max-width: 100%;
    display: block;
}
/* Definições Gerais - Iníco */


/* CSS Cabeçalho - Início */
.header a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: #727272;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.menu{
    display: flex;
    background: #727272;
    
}

.menu li{
    list-style: none;
    margin-left: 50px;
    background: #727272;
    font-size: 1.3rem;
}

.logoloja{
    width: 100px;
    margin-left: 30px;
}
/* CSS Caixa de Pesquisa*/
.divBusca{
    background-color: white;
    border-radius:25px;
    width:300px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;

  }
 
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:20px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:250px;

  }

  #txtBusca::placeholder {
    color: #727272;
  }

  #btnBusca {
    width: 40px;
    vertical-align: middle;
}

/* CSS Caixa de Pesquisa - Fim*/

/* CSS Cabeçalho - Fim */

/* Menu Mobile */

#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {

  .header{
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .header nav {
    display: absolute;
      width: 100%;
      height: 100%;
  }
  .menu {
      display: flex;
      position: fixed;
      flex-wrap: wrap;
      align-content: center;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 0%;
      background-color: rgba(0, 0, 0, 0.7);
      overflow: hidden;
      -webkit-transition: height 0.3s;
      -moz-transition: height 0.3s;
      -ms-transition: height 0.3s;
      -o-transition: height 0.3s;
      transition: height 0.3s;
  }

  .menu li {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .menu li a {
      display: block;
      text-align: center;
      width: 100%;

  }
  .menu-icon {
      width: 50px;
      height: inherit;
      display: block;
      position: absolute;
      top: 15px;
      right: 30px;
      line-height: 60px;
      color: white;
      z-index: 999;
  }
  #menuToggle:checked ~ label i:nth-child(2) {
    display: block;
  }
  #menuToggle:checked ~ label i:first-child {
    display: none;
  }
  #menuToggle:not(:checked) ~ label i:first-child {
    display: block;
  }
  #menuToggle:not(:checked) ~ label i:nth-child(2) {
    display: none;
  }

  #menuToggle:checked ~ ul {
      height: 100%;
  }
  .menu-icon i {
      font-size: 1.7em;
  }
}





/*Menu Mobile - Fim*/

/*CSS Body - Início */

/* CSS Carousel - Início */
.conteiner{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.swiper{
  width: 80%;
  height: fit-content;
}

.swiper-slide img{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
  height: 450px;

}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: #727272;
}

.swiper .swiper-pagination-bullet-active{
  background: #727272 ;
}

/* CSS Carousel - Fim */

/* CSS Painel de Cards - Início */
.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    margin: 0 auto;
    padding: 1%;
    width: 75%;
    text-align: center;
    float: left;
}



.card a{
  text-decoration: none;
  color:#727272;
}


/* CSS Painel de Cards - Fim */


/* CSS Most Reviewed - Início */
aside {
  width: 14%;
  padding: 4%;
  float: right;
  text-align: center;
  display: grid;
  background-color: #f4f4f4;
  margin: 3px;
  
  
}

aside h1 {
  color: #fff
}

.review a{
  text-decoration: none;
  color: #727272;
}

.avaliados{
  color: #727272;
}

/* CSS Most Reviewed - Fim */

/*CSS Newsletter - Início*/

.clear {
  clear: both;
}



.newsletter{
  background: #727272;
  margin: 0 auto;
  text-align: center;
  max-width: 330px;
  border-radius: 5px;
  color: #f9f9f9;
  padding: 4%;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 50px;
 
  

}

.newsletter hr{
  width: 70px;
  height: 3px;
  margin: 30px auto;
  border: 0;
  background: rgba(255,255,255,0.5);

}

.newsletter p{
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255,255,255,0.03);
  margin-bottom: 30px;
}

.newsletter input{
  border-radius: 3px;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 55px;
  border: 0px;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 36px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;

}

::placeholder{
  color: rgba(255, 255, 255, 0.8);
}

.newsletter button{
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 3px;
  height: 50px;
  background-color: transparent;
  color:#f9f9ff;
  padding: 0px 28px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
}

.newsletter button:hover{
  background-color: rgba(0,0,0,0.4);
  border-color: rgba(0,0,0,0.4);
}

/*CSS Newsletter - Fim*/

/*CSS Body - Fim */


/* CSS Rodapé - Início */
.footer{
  background: #727272;
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  clear: both;
  margin-top: 1200px;
  width: 97.9%;
}

#redesscoiais{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer li{
  background-color: #727272;
  padding: 5px;
  list-style-type: none;
 
}


.container {
  display: flex;
  flex-direction: column;
}

.sub-rodapé{
  text-align: center;
  background-color:#606060;
  color: white;
}
/* CSS Rodapé - Fim */